body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-card {
  padding: 1rem;
  width: 90%;
  /* height: 100%; */
  border-radius : 8px;
  display: inline-block;
  margin: 1rem 2rem;
  border: grey solid 1px;
  box-shadow: 3px 4px;
}

.search-field {
  width: 100%;
}

.movie-card-poster {
  padding: 1rem;
  width: 20rem;
  height: 25rem;
  display: inline-block;
  margin: 1rem 2rem;
  border: grey solid 1px;
  box-shadow: 3px 4px;

}

.movie-card img {
  height: 90%;
}

.split {
  padding: 1rem;
  width: 40%;
  height: 40rem;
  border-radius : 8px;
  display: inline-block;
  margin: 1rem 2rem;
  border: grey solid 1px;
  box-shadow: 3px 4px;
  right: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.poster-container {
  padding: 1rem;
  width: 90%;
  height: 35rem;
  border-radius : 8px;
  display: inline-block;
  margin: 1rem 2rem;
  border: grey solid 1px;
  box-shadow: 3px 4px;
  right: 0;
  overflow-x: hidden;
}

.poster-nominations {
  padding: 1rem;
  width: 90%;
  height: 20rem;
  border-radius : 8px;
  display: inline-block;
  margin: 1rem 2rem;
  border: grey solid 1px;
  box-shadow: 3px 4px;
  right: 0;
  overflow-x: hidden;
}

.header {
  padding: 10px 16px;
  background: #004c3f;
  color: #FFF;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}